”V1-model.bin
q
git[[:space:]]lfs[[:space:]]track[[:space:]]V1-model.bin
“
'
 filter=lfs diff=lfs merge=lfs -text
V1-model.bin filter=lfs diff=lfs merge=lfs -text
V1-model.bin !text !filter !merge !diff
